# Simple Recurrent Neural Network

## Import

In [32]:
#Importing libraries for data analysis
import pandas as pd
import matplotlib as plt

In [7]:
df = pd.read_csv("raw_data/data.csv")

In [38]:
df.tail()

,Time,DFF,CPIAUCSL,CPILFESL,UNRATE,WTISPLC,INDPRO,MABMM301USM189S,A576RC1
752,2022-09-01,2.56,8.21485,6.64296,3.5,84.26,4.73131,2.56370,9.07203
753,2022-10-01,3.08,7.76249,6.30176,3.7,87.55,3.18912,1.28501,8.07029
754,2022-11-01,3.78,7.13535,5.97198,3.6,84.37,1.98468,0.02623,7.43424
755,2022-12-01,4.10,6.44494,5.70386,3.5,76.44,1.14673,-1.31457,6.94998
756,2023-01-01,4.33,6.34716,5.54757,3.4,78.12,0.78956,NaN,7.86180

In [9]:
df = df.drop("Unnamed: 0", axis = 1)

## Exploratory Data Analysis

In [34]:
df.shape

(757, 9)

In [10]:
df.describe()

,DFF,CPIAUCSL,CPILFESL,UNRATE,WTISPLC,INDPRO,MABMM301USM189S,A576RC1
count,757.000000,757.000000,757.000000,757.000000,757.000000,757.000000,744.000000,757.000000
mean,4.789736,3.769880,3.713922,5.949802,32.280452,2.552905,7.171975,6.210760
std,3.697640,2.844571,2.539275,1.683161,29.122856,4.828554,3.583807,3.214712
min,0.050000,-1.958760,0.602720,3.400000,2.920000,-17.018130,-1.314570,-5.860480
25%,1.820000,1.759500,1.987720,4.800000,11.160000,0.434140,5.165637,4.372760
50%,4.680000,3.004570,2.752290,5.700000,21.688000,2.894420,6.896930,6.008130
75%,6.580000,4.695920,4.732510,7.000000,47.020000,5.578500,8.478320,8.492850
max,19.100000,14.592270,13.604490,14.700000,133.930000,16.555750,26.887130,14.791160

In [11]:
df.dtypes

Time                object
DFF                float64
CPIAUCSL           float64
CPILFESL           float64
UNRATE             float64
WTISPLC            float64
INDPRO             float64
MABMM301USM189S    float64
A576RC1            float64
dtype: object

## Data preprocessing

In [12]:
#Check length of df before changing anything
df.duplicated()
len(df)

757

In [13]:
#Check for duplicates
df.duplicated().sum()

0

In [14]:
#Detecting missing data (Counting the number of NaN for each column)
df.isnull().sum().sort_values(ascending=False)

MABMM301USM189S    13
Time                0
DFF                 0
CPIAUCSL            0
CPILFESL            0
UNRATE              0
WTISPLC             0
INDPRO              0
A576RC1             0
dtype: int64

In [25]:
#Agreed strategy in the team: delete rows
df.dropna(subset="MABMM301USM189S", )

,Time,DFF,CPIAUCSL,CPILFESL,UNRATE,WTISPLC,INDPRO,MABMM301USM189S,A576RC1
12,1961-01-01,1.45,1.60027,0.98361,6.6,2.97,-8.45377,5.33199,1.22177
13,1961-02-01,2.54,1.46209,0.65359,6.9,2.97,-7.74411,6.06568,0.96012
14,1961-03-01,2.02,1.46209,0.98039,6.9,2.97,-6.34204,6.34815,1.17951
15,1961-04-01,1.49,0.91401,0.98039,7.0,2.97,-3.65304,6.59780,0.91575
16,1961-05-01,1.98,0.91309,0.98039,7.1,2.97,-2.05700,7.07876,1.35185
...,...,...,...,...,...,...,...,...,...
751,2022-08-01,2.33,8.22736,6.30050,3.7,93.67,3.50338,3.82332,9.13152
752,2022-09-01,2.56,8.21485,6.64296,3.5,84.26,4.73131,2.56370,9.07203
753,2022-10-01,3.08,7.76249,6.30176,3.7,87.55,3.18912,1.28501,8.07029
754,2022-11-01,3.78,7.13535,5.97198,3.6,84.37,1.98468,0.02623,7.43424
755,2022-12-01,4.10,6.44494,5.70386,3.5,76.44,1.14673,-1.31457,6.94998

In [26]:
#Converting "time" into date-time data type
df["Time"] =  pd.to_datetime(df["Time"])
#format='%Y-%m-%d%'
#%d/%m/%Y

In [27]:
df.dtypes

Time               datetime64[ns]
DFF                       float64
CPIAUCSL                  float64
CPILFESL                  float64
UNRATE                    float64
WTISPLC                   float64
INDPRO                    float64
MABMM301USM189S           float64
A576RC1                   float64
dtype: object

In [37]:
df.tail()

,Time,DFF,CPIAUCSL,CPILFESL,UNRATE,WTISPLC,INDPRO,MABMM301USM189S,A576RC1
752,2022-09-01,2.56,8.21485,6.64296,3.5,84.26,4.73131,2.56370,9.07203
753,2022-10-01,3.08,7.76249,6.30176,3.7,87.55,3.18912,1.28501,8.07029
754,2022-11-01,3.78,7.13535,5.97198,3.6,84.37,1.98468,0.02623,7.43424
755,2022-12-01,4.10,6.44494,5.70386,3.5,76.44,1.14673,-1.31457,6.94998
756,2023-01-01,4.33,6.34716,5.54757,3.4,78.12,0.78956,NaN,7.86180

In [30]:
#Checking ideas for feature importance
df.corr()

/tmp/ipykernel_7092/2490753845.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,DFF,CPIAUCSL,CPILFESL,UNRATE,WTISPLC,INDPRO,MABMM301USM189S,A576RC1
DFF,1.000000,0.704920,0.753935,0.051238,-0.423383,0.071652,0.011340,0.567413
CPIAUCSL,0.704920,1.000000,0.927689,0.062215,-0.094958,-0.068778,0.061320,0.565328
CPILFESL,0.753935,0.927689,1.000000,0.173739,-0.199340,-0.168926,0.101609,0.507512
UNRATE,0.051238,0.062215,0.173739,1.000000,0.175681,-0.337193,0.257934,-0.350085
WTISPLC,-0.423383,-0.094958,-0.199340,0.175681,1.000000,-0.194647,-0.087610,-0.338625
INDPRO,0.071652,-0.068778,-0.168926,-0.337193,-0.194647,1.000000,-0.071655,0.620889
MABMM301USM189S,0.011340,0.061320,0.101609,0.257934,-0.087610,-0.071655,1.000000,0.105861
A576RC1,0.567413,0.565328,0.507512,-0.350085,-0.338625,0.620889,0.105861,1.000000

In [ ]:
#Check for periodicity --> Apply for Month on a yearly basis

In [ ]:
#Check data for seasonality --> discuss with TA! --> we don't need


#from statsmodels.tsa.seasonal import seasonal_decompose
#from statsmodels.tsa.stattools import adfuller

#adfuller(df.value)[1]  # p-value
#print('additive resid: ', adfuller(result_add.resid.dropna())[1])
#print('multiplicative resid: ', adfuller(result_mul.resid.dropna())[1])




# Additive Decomposition (y = Trend + Seasonal + Residuals)
#result_add = seasonal_decompose(df['value'], model='additive')
#result_add.plot();



# Multiplicative Decomposition (y = Trend * Seasonal * Residuals)
#result_mul = seasonal_decompose(df['value'], model='multiplicative')
#result_mul.plot();

In [ ]:
#Achieve stationarity --> Discuss with TA!

#from statsmodels.graphics.tsaplots import plot_acf
#plot_acf(df.value, lags=50)
#plt.show()

In [28]:
#Importing libraries for building of models

from tensorflow.keras.models import Sequential
from tensorflow.keras.optimizers import Adam
from tensorflow.keras import layers

ModuleNotFoundError: No module named 'tensorflow'

In [ ]:
#Declaring variables
X = df.drop(columns="CPILFESL")
y = df["CPILFESL"]

In [ ]:
#Train test split the data --> discuss with TA
df_train = df.iloc[:index]
df_test = df.iloc[index:]

In [ ]:
# Creating the model
## 1- RNN Architecture
model = Sequential()
model.add(layers.SimpleRNN(units=2, activation='tanh', input_shape=(4,3)))
model.add(layers.Dense(1, activation="linear"))

## 2- Compilation
model.compile(loss='mse', 
              optimizer=Adam(lr=0.5)) # vhigh lr so we can converge a little with such a small dataset

## 3- Fit
model.fit(X, y, epochs=2000, verbose=0)

## 4- Predict
#model.predict(X)

In [ ]:
#Predicting with the model